.container {
  margin: 20px;
}

.opcUaDataRow {
  background-color: #f7f7f7;
  border: solid 1px #ddd;
  border-radius: 5px;
  margin: 15px;
}

.deviceDetailRow {
  margin: 10px;
}

ion-toggle {
  padding: 5px;
}
