<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="device-overview"></ion-back-button>
    </ion-buttons>
    <ion-title>{{device.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div>
      <ion-item-divider>
        <ion-label>
          <h1>Machine details</h1>
        </ion-label>
      </ion-item-divider>

      <ion-grid>
        <ion-row class="deviceDetailRow">
          <ion-col size="3">
            Device name
          </ion-col>
          <ion-col>
            {{device.name}}
          </ion-col>
        </ion-row>

        <ion-row class="deviceDetailRow">
          <ion-col size="3">
            Description
          </ion-col>
          <ion-col>
            {{device.description}}
          </ion-col>
        </ion-row>

        <ion-row class="deviceDetailRow">
          <ion-col size="3">
            Number of registered nodes
          </ion-col>
          <ion-col>
            {{device.nodes.length}}
          </ion-col>
        </ion-row>

        <ion-row class="deviceDetailRow">
          <ion-col size="3">
            Refresh manually
          </ion-col>
          <ion-col>
            <ion-toggle [ngModel]="refreshManually" (ionChange)="refreshManuallyToggled($event)"></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <br>
    <br>

    <div>
      <ion-item-divider>
        <ion-label>
          <h1>OPC-UA data</h1>
        </ion-label>
        <ion-button (click)="refreshOpcUaData()" [disabled]="manualRefreshDisabled" slot="end">
          <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-button>
      </ion-item-divider>

      <ion-grid>
        <ion-row class="opcUaDataRow">
          <ion-col>
            <h3>OPC-UA node</h3>
          </ion-col>
          <ion-col>
            <h3>OPC-UA variable</h3>
          </ion-col>
          <ion-col>
            <h3>OPC-UA variable type</h3>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let konektiloResponse of konektiloResponses" class="opcUaDataRow">
          <ion-col>
            <div>
              {{konektiloResponse.result.variableDisplayname}}
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{konektiloResponse.result.variableData}}
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{konektiloResponse.result.variableType}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
